.rows,
.cols {
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff;
  outline: none;
  width: 3em;
}

.rowcolselector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
