.header {
  width: 100%;
  position: relative;
  height: max-content;
}

.header_list {
  position: relative;
  box-sizing: border-box;
  height: 6em;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 5em;
  justify-content: space-between;
  align-items: center;
  background-color: $accent;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 2px solid $accent-dark;

  @include on-phone {
    justify-content: center;
    padding-block: 1rem;
  }

  &__item {
    text-transform: uppercase;
    line-height: 0;

    @include on-phone {
      margin-top: 10px;
    }
    img {
      border-radius: 5px;
    }
  }
}

.moves {
  @include on-phone {
    width: 300px;
    text-align: center;
  }
}
