.sidebar {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: $accent;
  top: 15%;
  border-radius: 30px;
  border: 2px solid $accent-dark;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;

  @include on-phone {
    top: 30%;
  }

  &_toggle {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 15%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $accent;
    border: 2px solid $accent-dark;
    width: 64px;
    height: 64px;
    background-image: url(../assets/buttons/aRight.svg);
    background-size: contain;
    transition-duration: 0.3s;
    transition-property: background-image, border-radius;
    z-index: 1;
    @include on-phone {
      top: 30%;
    }
  }
}

.toggled {
  background-image: url(../assets/buttons/aLeft.svg);
  border: 2px solid $accent-dark;
  border-radius: 100%;
  border-top-left-radius: 0;
}

.toggled_sidebar {
  transform: translateX(0);
}
